# Case 03: Vendas em E-commerce
---

<img src="https://selecao.letscode.com.br/favicon.png" width="40px" style="position: absolute; top: 1rem; right: 40px; border-radius: 5px;" />

## Importação das bibliotecas

- Dados
- Visualização gráfica
- Definição de temas dos gráficos

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/vendas.csv')

In [3]:
df.head()

,amostra,id_cliente,id_unico_cliente,item_id,cep_cliente,cidade_cliente,estado_cliente,id_pedido,status_pedido,horario_pedido,...,pagamento_sequencial,pagamento_tipo,pagamento_prestacoes,pagamento_valor,review,categoria,categoria_ingles,cep_vendedor,cidade_vendedor,estado_vendedor
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,1,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,...,1,credit_card,2,146.87,4,moveis_escritorio,office_furniture,8577,itaquaquecetuba,SP
1,1,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,1,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,...,1,credit_card,1,275.79,1,moveis_escritorio,office_furniture,8577,itaquaquecetuba,SP
2,2,8912fc0c3bbf1e2fbf35819e21706718,9eae34bbd3a474ec5d07949ca7de67c0,2,68030,santarem,PA,c1d2b34febe9cd269e378117d6681172,delivered,2017-11-09 00:50:13,...,1,credit_card,1,275.79,1,moveis_escritorio,office_furniture,8577,itaquaquecetuba,SP
3,3,f0ac8e5a239118859b1734e1087cbb1f,3c799d181c34d51f6d44bbbc563024db,1,92480,nova santa rita,RS,b1a5d5365d330d10485e0203d54ab9e8,delivered,2017-05-07 20:11:26,...,1,credit_card,7,140.61,3,moveis_escritorio,office_furniture,8577,itaquaquecetuba,SP
4,4,6bc8d08963a135220ed6c6d098831f84,23397e992b09769faf5e66f9e171a241,1,25931,mage,RJ,2e604b3614664aa66867856dba7e61b7,delivered,2018-02-03 19:45:40,...,1,credit_card,10,137.58,4,moveis_escritorio,office_furniture,8577,itaquaquecetuba,SP

In [7]:
df.id_cliente.nunique()

97255

In [6]:
df.id_unico_cliente.nunique()

94087

In [8]:
df['id_pedido'].value_counts()

895ab968e7bb0d5659d16cd74cd1650c    63
fedcd9f7ccdc8cba3a18defedd1a5547    38
fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
a3725dfe487d359b5be08cac48b64ec5    24
                                    ..
ccc88b02740910fc7acbb81f78827e38     1
840fba0867d6686cd4a428f76d01f97e     1
216c6c60eaa02facee10abb4ca3a9c6f     1
0d5fb8614978748bcfbef448c8a74a17     1
9f7ba492c273ffac8f90a623b8eadd3b     1
Name: id_pedido, Length: 97255, dtype: int64

In [10]:
df[df['id_pedido'] == '895ab968e7bb0d5659d16cd74cd1650c']['item_id'].unique()

array([1, 2, 3])

In [11]:
df[(df['id_pedido'] == '895ab968e7bb0d5659d16cd74cd1650c') & (df['item_id'] == 1)]

,amostra,id_cliente,id_unico_cliente,item_id,cep_cliente,cidade_cliente,estado_cliente,id_pedido,status_pedido,horario_pedido,...,pagamento_sequencial,pagamento_tipo,pagamento_prestacoes,pagamento_valor,review,categoria,categoria_ingles,cep_vendedor,cidade_vendedor,estado_vendedor
19522,19522,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,17,voucher,1,16.70,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19523,19523,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,1,voucher,1,2.61,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19524,19524,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,13,voucher,1,16.70,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19525,19525,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,16,voucher,1,16.70,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19526,19526,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,19,voucher,1,0.24,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19527,19527,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,4,voucher,1,2.61,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19528,19528,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,21,voucher,1,0.28,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19529,19529,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,2,voucher,1,2.61,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19530,19530,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,12,voucher,1,16.70,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19531,19531,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,18,voucher,1,1.31,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19532,19532,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,8,voucher,1,0.41,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19533,19533,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,11,voucher,1,16.70,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19534,19534,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,3,voucher,1,2.61,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19535,19535,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,5,voucher,1,2.61,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19536,19536,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,10,voucher,1,16.70,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19537,19537,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,7,voucher,1,2.60,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19538,19538,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,15,voucher,1,16.70,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19539,19539,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,20,voucher,1,4.61,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19540,19540,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,14,voucher,1,16.70,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19541,19541,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,9,voucher,1,2.61,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ
19542,19542,270c23a11d024a44c896d1894b261a83,9a736b248f67d166d2fbb006bcb877c3,1,3227,sao paulo,SP,895ab968e7bb0d5659d16cd74cd1650c,delivered,2017-08-08 20:26:31,...,6,voucher,1,2.61,5,cama_mesa_banho,bed_bath_table,25803,tres rios,RJ

## Carregando o dataset

#### Analise as cinco primeiras linhas do seu conjunto de dados

#### Utilize o método `info()` para analisar as principais informações e o atributo `columns` para observar todas as colunas

#### Verifique o tamanho do seu conjunto de dados

#### Quais são os 5 estados com o maior número de compradores?

> Analise, também, em termos percentuais das compras.

#### Quais são os 5 estados que mais vendem produtos?

> Analise, também, em termos percentuais de vendas.

#### Quantos vendedores aparecem nesse conjunto de dados?

#### Qual é a avalição média dos produtos nesse e-commerce?

#### Como se distribuem essas avaliações? Qual é a mais frequente?

> Visualize graficamente.

#### Obtenha as avaliações associadas a cada vendedor. Quais são os cinco que apresentam as melhores avaliações?

#### Obtenha as avaliações associadas a cada categoria de produtos.

- Quais são as cinco que apresentam as melhores avaliações?
- Quais são as cinco que apresentam as piores avaliações?

### Analise, graficamente, a distribuição dos preços e fretes dos produtos.

#### Qual é a média de preço e frete dos produtos por categoria?

> Analise graficamente, em ambos os casos. Considere apenas as 20 principais categorias nos gráficos.

In [12]:
df['categoria'].nunique()

71

**Crie uma tabela que contenha o tipo de pagamento nos índices, a categoria do produto nas colunas e o valor seja a média das avaliações para cada par (tipo de pagamento, categoria do produto).**

> Dica: utilize a função `crosstab` do pandas.

#### Qual é o principal meio de pagamento utilizado pelos clientes?

> Visualize essa resposta, também, de forma gráfica.

#### Em quantas parcelas os clientes que compram em cartão de crédito costumam dividir suas compras?

> Visualize esse resultado, também, graficamente.

####

#### Utilize o percentil para responder a seguinte pergunta:

**30% dos clientes fazem compras no valor (preço) de até quanto?**

#### Transforme a coluna `horario_pedido` para o formato `datetime` do Python e, em seguida, avalie o valor total de vendas realizadas por dia, durante todo o intervalo disponível no dataset.

In [15]:
df['horario_pedido'][0]

'2017-05-16 15:05:35'

In [17]:
from datetime import datetime as dt

In [18]:
data_string = df['horario_pedido'][0]

In [19]:
dt.strptime('2017-05-16', '%Y-%m-%d')

datetime.datetime(2017, 5, 16, 0, 0)